<style>
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
</style>
<div class="list-group vcenter">
	{{#each menu_items as |item index|}}
		{{#if primary_menu}}
		  <button {{action 'menu_select' item}} type="button" class="list-group-item">
		  	{{item}}
		  </button>
		{{else}}
			  <button {{action 'attack' item.move index}} type="button" class="list-group-item">
			  	{{item.name}}
			  </button>
		{{/if}}
	{{/each}}
</div>
